.DS_Store
__pycache__
*.pyc
.ipynb_checkpoints
*.log
*.zip
logs
media
media_out
images
images_out
orientation_test
orientation_test_out
deprecated
temp
logs
data
downloaded-example-data
private_data.json
wallpapers
utilities
